body {
  font-style: normal;
  font-size: 13px;
  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Стили заголовков */

h2,
.section__title {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.section__title--colored {
  color: #32425c;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.products__title {
  margin: 0 30px;
  margin-top: 10px;
  margin-bottom: 5px;

  text-align: center;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.wrapper--row {
  display: flex;
}

/* Хэдер */

.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 320px;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.header__top {
  margin-bottom: 46px;

  background-color: #293449;
}

.header__logo {
  width: 220px;
  min-height: 42px;
}

.logo {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo__image {
  margin: auto;

  font-size: 0;
  line-height: 0;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header__search {
  flex-grow: 1;
}

.search-form {
  position: relative;

  display: flex;
}

.search-form__input {
  flex-grow: 1;
  padding-left: 49px;

  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: transparent;
  border: none;
}

.search-form__input::placeholder {
  color: #ffffff;

  opacity: 1;
}

.search-form__input:hover {
  background-color: #212a3a;
}

.search-form__input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-form__input:not(placeholder-shown) {
  color: #ffffff;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
}

.search-form__button {
  padding: 0 25px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-form__button:hover,
.search-form__button:focus {
  background-color: #212a3a;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation__item {
  display: flex;
  min-width: 150px;
  height: 100%;
}

.user-navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  background-color: #293449;
}

.user-navigation__button:hover,
.user-navigation__button:focus {
  background-color: #212a3a;
}

.user-navigation__button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.user-navigation__button--checkout {
  background-color: #63a63e;
}

.user-navigation__button--checkout:hover,
.user-navigation__button--checkout:focus {
  background-color: #5fbb2d;
}

.user-navigation__button--checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.user-navigation__button--cart-non-empty {
  background-color: #ee3643;
}

.user-navigation__button--cart-non-empty:hover,
.user-navigation__button--cart-non-empty:focus {
  background-color: #ca2c37;
}

.user-navigation__button--cart-non-empty:active {
  background-color: #ba2732;
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
  margin-left: 52px;
}

.header__site-description {
  width: 200px;
  margin: 0;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 270px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__contacts-item--box {
  position: relative;

  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 45px;
  margin-bottom: 4px;

  border: solid 3px #ffffff;
}

.header__phone {
  margin: auto;
  margin-left: 70px;

  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;
}

.header__address {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header__contacts-item--box::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat;
}

.profile-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: start;
  min-width: 281px;
  max-width: 300px;
  min-height: 45px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.profile-navigation__item {
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.profile-navigation__button {
  display: flex;
  align-items: center;
  min-width: 121px;
  max-width: 100%;
  min-height: 45px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.login-icon {
  padding: 14px;

  fill: #c5c5c5;
}

.profile-navigation__sign-up-button {
  justify-content: center;
  min-width: 150px;
}

.profile-navigation__button:hover .login-icon,
.profile-navigation__button:focus .login-icon {
  fill: #32425c;
}

.profile-navigation__button:hover .login-icon {
  fill: #32425c;
}

.profile-navigation__button:active .login-icon {
  fill: #c5c5c5;
}

.profile-navigation__button:hover,
.profile-navigation__button:focus {
  color: #ee3643;
}

.profile-navigation__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-navigation__button--sign-up {
  justify-content: center;
  min-width: 150px;
}

.profile-navigation__username {
  min-width: 260px;
}

.user-icon {
  margin: 13px 14px 14px 13px;

  fill: #c5c5c5;
}

.profile-navigation__username:hover .user-icon,
.profile-navigation__username:focus .user-icon {
  fill: #32425c;
}

.profile-navigation__username:active .user-icon {
  fill: #c5c5c5;
}

.profile-navigation__sign-out-button {
  display: flex;
  width: 40px;
  min-height: 45px;

  background-color: #ffffff;
}

.sign-out-button__icon {
  margin: auto;

  fill: #c5c5c5;
}

.profile-navigation__sign-out-button:hover .sign-out-button__icon {
  fill: #32425c;
}

.profile-navigation__sign-out-button:focus .sign-out-button__icon {
  fill: #32425c;
}

.profile-navigation__sign-out-button:active .sign-out-button__icon {
  fill: #c5c5c5;
}

.profile-navigation__link {
  margin-right: 14px;
  margin-left: 17px;

  font-size: 16px;
  line-height: normal;
  color: #32425c;
  text-decoration: underline;
}

.profile-navigation__link:hover,
.profile-navigation__link:focus {
  color: #ee3643;
}

.profile-navigation__link:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 60px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-nav__item {
  display: flex;
  flex-grow: 1;
}

.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #ffffff;
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #293449;
}

.main-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
}

.companies-list {
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.companies-list__item {
  position: relative;

  padding-bottom: 20px;
  padding-left: 36px;
}

.companies-list__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

/* Main */

/*    Для каталога */

.main__wrapper {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
}

.page-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*    Для каталога */

.page-title__backdrop {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 89px;
  margin-bottom: 20px;
  padding-left: 28px;

  color: #32425c;

  background-color: #f2f6f8;;
}

.section__title {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 700px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.products__item:nth-child(3n) {
  margin-right: 0;
}

.product {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  padding-bottom: 10px;

  border: solid 1px #e5e5e5;
}

.product:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product__image {
  order: -1;
  max-width: 100%;
  height: auto;
}

.product__title {
  margin-top: 9px;
  margin-bottom: 11px;
  padding-right: 16px;
  padding-left: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
}

.product__prices {
  margin: 0;
  margin-top: auto;
  padding: 0;

  list-style: none;
  text-align: center;
}

.product__price {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}

.product__price--old {
  color: #999999;
  text-decoration: line-through;
}

.product__price--new {
  color: #ffffff;
}

.product__link {
  color: #000000;
  text-decoration: none;
}

.product__price-tag {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 122px;
  min-height: 38px;
  margin-left: -11px;
  padding-left: 11px;

  text-align: center;

  background-color: #ee3643;
  border-radius: 2px 0 0 2px;
}

.product__price-tag::after {
  content: "";
  position: absolute;
  left: 122px;

  border: 19px solid #ee3643;
  border-top-color: transparent;
  border-right: 0;
  border-bottom-color: transparent;
}

.action-buttons {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 44px;

  background-color: #ffffff;
  opacity: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 135px;
  min-height: 38px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 2px;
  cursor: pointer;
}

.button--bookmark {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button--bookmark:hover,
.button--bookmark:focus {
  border-color: #32425c;
}

.button--bookmark:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

.button--to-cart {
  margin-bottom: 8px;

  color: #ffffff;

  background-color: #63a63e;
  border: none;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.button--to-cart:hover,
.button--to-cart:focus {
  background-color: #5fbb2d;
}

.button--to-cart:active {
  background-color: #518534;
  box-shadow: none;
}

.product:hover .action-buttons,
.product__link:focus .product .action-buttons {
  opacity: 1;
}

.tag-new {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-top: 32px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagination__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 38px;
  min-height: 38px;
  padding-right: 10px;
  padding-left: 10px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  border: solid 1px #e5e5e5;
  border-radius: 2px;
}

.pagination__button--current {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination__button--next {
  min-width: 140px;
}

.pagination__button:hover,
.pagination__button:focus {
  border-color: #bdc6ca;
  outline: none;
}

.pagination__button:active {
  border-color: #ee3643;
}

/* Хлебные крошки */

.inner-navigation {
  order: -1;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs__link {
  color: #000000;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 10px;
  margin-left: 30px;
}

.breadcrumbs__item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__link--home {
  display: inline-block;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:first-child::before {
  display: none;
}
.breadcrumbs__item:first-child {
  margin-left: 0;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  list-style: none;
}

.popular-brands__title {
  color: #32425c;
}

.popular-products__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-products__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-products__item:nth-child(4n) {
  margin-right: 0;
}

.section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 28px;

  background-color: #f9f5f0;
}

.button--to-all {
  min-width: 253px;
}

.brands__item {
  display: flex;
  box-sizing: border-box;
  min-width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: solid 1px #eaeaea;
}

.brands__item:nth-child(4n) {
  margin-right: 0;
}

.brands__link {
  display: flex;
  width: 100%;
}

.brands__link:hover,
.brands__link:focus {
  outline: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands__link:active,
.brands__link:active .brands__image {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.brands__image {
  margin: auto;
}

.about-us {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  padding-top: 40px;
  padding-right: 120px;
  padding-bottom: 40px;
}

.about-us__title {
  margin-bottom: 10px;
}

.about-us__paragraph {
  margin-top: 15px;
  margin-bottom: 10px;

  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  /* text-align: justify; */
  word-spacing: 1px;
}

.companies-list {
  margin: 10px 0;

  font-size: 18px;
  line-height: 20px;
}

.about-us__button {
  align-self: start;
  min-width: 220px;
  margin-top: 7px;
  margin-bottom: 45px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact__title {
  margin-bottom: 10px;
}

.contact__paragraph {
  margin-top: 15px;
  margin-bottom: 10px;

  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.map__link {
  margin-top: 20px;
}

.contact__button {
  align-self: stretch;
  margin-top: 40px;
}

.about-product {
  min-height: 261px;

  background-color: #f4f7f9;
}

.about-product__wrapper {
  width: 940px;
  margin: 0 auto;
  padding-top: 65px;
}

.about-product__paragraph {
  margin: 0;
  margin-top: 25px;
  padding: 0;

  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

/* Футер */

.footer {
  display: flex;
  flex-direction: column;
  min-height: 300px;

  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.footer__wrapper--bottom {
  box-sizing: border-box;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 1px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  min-width: 284px;
  margin: 0;
  padding: 0;
}

.footer__feedback {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-right: 53px;
}

.footer__developed-by {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer__contacts {
  margin: 0;
  padding: 0;
  padding-left: 3px;

  list-style: none;
  font-style: normal;
  line-height: 24px;
}

.footer__bottom {
  padding-top: 35px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer__logo {
  width: 220px;
  height: 63px;
  margin-bottom: 32px;
}

.footer__address {
  margin: 0;
  padding: 0;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
}

.footer__nav-row {
  margin: 0;
  padding: 0;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
}

.footer__nav-item {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 60px;

  list-style: none;
}

.footer__nav-link {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
  text-decoration: underline;
}

.footer__nav-link:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer__nav-link--colored {
  color: #ffd180;
}

.footer__nav-link--colored:active {
  color: rgba(255, 209, 128, 0.5);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* box-sizing: border-box; */
  min-width: 132px;
  margin: 0;
  padding: 0;
  /* padding-right: 3px; */

  list-style: none;
}

.socials__item {
  margin: 0;
  margin-right: 3px;
  padding: 0;

  list-style: none;
}

.socials__link {
  display: inline-block;
  width: 42px;
  height: 42px;

  vertical-align: middle;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.socials__link--vk {
  background-image: url("../img/icon-vk.svg");
}

.socials__link--fb {
  background-image: url("../img/icon-fb.svg");
}

.socials__link--ig {
  background-image: url("../img/icon-inst.svg");
}

.socials__link:hover,
.socials__link:focus {
  background-color: #ee3643;
}

.feedback__link,
.feedback__copyright-link {
  color: #ffd180;
}

.feedback__link:hover,
.feedback__copyright-link:hover,
.feedback__link:focus,
.feedback__copyright-link:focus {
  text-decoration: underline;
}

.feedback__copyright-link:active,
.feedback__link:active {
  color: #ee3643;
  text-decoration: none;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sorting {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 700px;
  min-height: 38px;
  margin-bottom: 20px;
  padding-right: 17px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.sorting__title {
  box-sizing: border-box;
  width: 240px;
  padding-left: 16px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}

.sorting__list {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting__property {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
}

.order {
  fill: #c5c5c5;
}

.order-descending {
  transform: rotate(180deg);
}

.sorting__property:hover,
.sorting__property:focus {
  color: rgba(0, 0, 0, 1);

  border-bottom: 1px solid #ee3643;
}

.sorting__property:active {
  color: #ee3643;

  border: none;
}

.promo__slider {
  position: absolute;
  top: 202px;
  left: 0;

  width: 620px;
  height: 266px;

  background-color: tomato;
}

/* Промо-блок */

.promo {
  position: relative;

  padding-top: 59px;
  padding-bottom: 33px;
}

.promo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item:first-child,
.promo__item:nth-child(3n+6) {
  margin-left: 0;
}

.promo__item:nth-child(4),
.promo__item:nth-child(5) {
  margin-left: 600px;
}

.promo__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 20px;

  color: #ffffff;

  background-repeat: no-repeat;
}

.tag-new {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
}

.promo__item-title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: Cuprum, Arial, sans-serif;
  color: #ffffff;
}

.promo__item--materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-bucket.svg");
  background-position: bottom 27px right 43px;
}

.promo__item--tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-drill.svg");
  background-position: bottom 29px right 28px;
}

.promo__item--machinery {
  background-color: #dc91d8;
  background-image: url("../img/icon-bulldozer.svg");
  background-position: bottom 30px right 31px;
}

.promo__item--discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-discount-cart.svg");
  background-position: bottom 25px right 45px;
}

.promo__item--delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery-truck.svg");
  background-position: bottom 28px right 31px;
}

.promo__item-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 135px;
  max-width: 145px;
  min-height: 38px;
  margin-bottom: 7px;
  margin-left: 5px;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum, Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  opacity: 1;
}

.promo__item-link:hover,
.promo__item-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo__item-link:active,
.promo__item-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Скрывает доступно */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* Фильтр */

.filter {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: start; */
  box-sizing: border-box;
  width: 220px;
  margin-right: 20px;
}

.filter__title-backdrop {
  display: flex;
  box-sizing: border-box;
  min-height: 38px;
  margin-bottom: 12px;
  padding-left: 18px;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.price-input__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  /* padding-bottom: 15px; */
}

.filter__title {
  margin-top: 10px;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
}

.slider {
  width: 100%;
  min-height: 80px;
  margin-top: 13px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.option {
  margin-top: 13px;
  margin-bottom: 7px;
}

.check {
  position: relative;

  padding-left: 34px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.check__box {
  position: absolute;
  top: -1.5px;

  width: 27px;
  height: 23px;
  margin-left: -34px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.check__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
}

.check:hover .check__box,
.check__input:focus + .check__box {
  background-image: url("../img/checkbox-off--focused.svg");
}

.check__input:checked:hover + .check__box,
.check__input:checked:focus + .check__box {
  background-image: url("../img/checkbox-on--focused.svg");
}

.check__input:disabled + .check__box {
  background-image: url("../img/checkbox-off--disabled.svg");
}

.check__input:checked:disabled + .check__box {
  background-image: url("../img/checkbox-on--disabled.svg");
}

.radio {
  position: relative;

  padding-left: 34px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.radio__box {
  position: absolute;
  top: -3px;

  width: 25px;
  height: 25px;
  margin-left: -35px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.radio__input:checked + .radio__box {
  background-image: url("../img/radio-on.svg");
}

.radio:hover .radio__box,
.radio__input:focus + .radio__box {
  background-image: url("../img/radio-off--focused.svg");
}

.radio__input:checked:hover + .radio__box,
.radio__input:checked:focus + .radio__box {
  background-image: url("../img/radio-on--focused.svg");
}

.radio__input:disabled + .radio__box {
  background-image: url("../img/checkbox-off--disabled.svg");
}

.radio__input:checked:disabled + .radio__box {
  background-image: url("../img/radio-on--disabled.svg");
}

.group-title {
  /* margin-top: 5px; */
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-form__price-input {
  box-sizing: border-box;
  width: 95px;
  height: 38px;
  padding-right: 7px;
  padding-left: 12px;

  font-size: 17px;
  line-height: 18;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
  border-radius: 4px;
}

.filter-form__price-input--till {
  padding-right: 8px;
  padding-left: 10px;
}

.price-input__wrapper::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 106px;

  width: 9px;
  height: 1px;

  background-color: #444444;
}

.filter-form__label {
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 12px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-form__group {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  /* padding-top: 10px; */
  padding-bottom: 15px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form__group:last-of-type {
  border-bottom: none;
}

.filter-form__submit {
  box-sizing: border-box;
  min-width: 140px;
  min-height: 38px;
  margin-top: 38px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
}


/* Карта */

.modal-map {
  position: fixed;
  top: 120px;
  left: 50%;

  display: inline-block;
  margin-left: -470px;

  font-size: 0;
  line-height: 0;

  background-color: #565656;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.modal-map__iframe {
  position: absolute;

  border: none;
}

.modal-map__image {
  width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 3px;

  background-color: #ee3643;
  transform: rotate(45deg);
}

.close-button::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 3px;

  background-color: #ee3643;
  transform: rotate(-45deg);
}

/* Форма обратной связи */

.feedback-form {
  position: relative;
  top: 120px;
  left: 50%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 620px;
  min-height: 430px;
  margin-left: -310px;
  padding-top: 55px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75),
  0 7px 0 0 #ee3643 inset;
}

.feedback-form__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form__field {
  display: flex;
  flex-direction: column;
}

.feedback-form__field--resizable {
  flex-grow: 1;
}

.feedback-form__caption {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 18px;
  font-family: Cuprum;
}

.feedback-form__input {
  box-sizing: border-box;
  min-width: 220px;
  min-height: 38px;
  margin-bottom: 22px;
  padding-left: 16px;

  font-family: "PT Sans", Arial, sans-serif;

  border: solid 2px #dee3e4;
  border-radius: 2px;
}

.feedback-form__input--message {
  flex-grow: 1;
  min-height: 114px;
  margin-bottom: 37px;
  padding-top: 10px;
  padding-bottom: 10px;

  resize: none;
}

.feedback-form__input::placeholder {
  color: #a9a9a9;
}

.feedback-form__input:hover {
  border-color: #b5b5b5;
}

.feedback-form__input:focus {
  border-color: #ee3643;
  outline: none;
}

.feedback-form__button {
  width: 100%;
  min-height: 38px;
  margin-top: 37px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.feedback-form__close-button {
  top: 16px;
}

/* Анимация формы обратной связи */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal {
  position: fixed;

  display: none;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Анимация после ввода некорректных данных */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Сделать модальное окно добавления товара в корзину */

.item-added {
  display: none;
}
