body {
  font-style: normal;
  font-size: 13px;
  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Стили заголовков */

h2,
.page__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* назначать фон обертке, а не заголовку

.page__title {
  color: #32425c;
  
  background-color: #f2f6f8;
} */

.page h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.wrapper--row {
  display: flex;
}

/* Хэдер */

.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 320px;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.header__top {
  margin-bottom: 46px;

  background-color: #293449;
}

.header__logo {
  width: 220px;
  min-height: 42px;
}

.logo {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo__image {
  margin: auto;

  font-size: 0;
  line-height: 0;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header__search {
    flex-grow: 1;
}
  
.search-form {
  display: flex;
}

.search-form__input {
  flex-grow: 1;
  padding-left: 49px;

  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: transparent;
  border: none;
}

.search-form__input::placeholder {
  color: #ffffff;

  opacity: 1;
}

.search-form__input:hover {
  background-color: #212a3a;
}

.search-form__input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-form__input:not(placeholder-shown) {
  color: #ffffff;
}

.search-form__button {
  padding: 0 25px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-form__button:hover,
.search-form__button:focus {
  background-color: #212a3a;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation__item {
  display: flex;
  min-width: 150px;
  height: 100%;
}

.user-navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  background-color: #293449;
}

.user-navigation__button:hover,
.user-navigation__button:focus {
  background-color: #212a3a;
}

.user-navigation__button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.user-navigation__button--checkout {
  background-color: #63a63e;
}

.user-navigation__button--checkout:hover,
.user-navigation__button--checkout:focus {
  background-color: #5fbb2d;
}

.user-navigation__button--checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.user-navigation__button--cart-non-empty {
  background-color: #ee3643;
}

.user-navigation__button--cart-non-empty:hover,
.user-navigation__button--cart-non-empty:focus {
  background-color: #ca2c37;
}

.user-navigation__button--cart-non-empty:active {
  background-color: #ba2732;
}

.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
    margin-left: 52px;
}

.header__site-description {
  width: 200px;
  margin: 0;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 270px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__contacts-item--box {
  position: relative;

  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 45px;
  margin-bottom: 4px;

  border: solid 3px #ffffff;
}

.header__phone {
  margin: auto;
  margin-left: 70px;

  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;
}

.header__address {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header__contacts-item--box::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background: url("/img/icon-phone.svg") no-repeat;
}

.profile-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: start;
  min-width: 281px;
  max-width: 300px;
  min-height: 45px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.profile-navigation__item {
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.profile-navigation__button {
  display: flex;
  align-items: center;
  min-width: 121px;
  max-width: 100%;
  min-height: 45px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.login-icon {
  padding: 14px;

  fill: #c5c5c5;
}

.profile-navigation__sign-up-button {
  justify-content: center;
  min-width: 150px;
}

.profile-navigation__button:hover .login-icon,
.profile-navigation__button:focus .login-icon {
  fill: #32425c;
}

.profile-navigation__button:hover .login-icon {
  fill: #32425c;
}

.profile-navigation__button:active .login-icon {
  fill: #c5c5c5;
}

.profile-navigation__button:hover,
.profile-navigation__button:focus {
  color: #ee3643;
}

.profile-navigation__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-navigation__button--sign-up {
  justify-content: center;
  min-width: 150px;
}

.profile-navigation__username {
  min-width: 260px;
}

.user-icon {
  fill: #c5c5c5;
  margin: 13px 14px 14px 13px;
}

.profile-navigation__username:hover .user-icon,
.profile-navigation__username:focus .user-icon {
  fill: #32425C;
}

.profile-navigation__username:active .user-icon {
  fill: #c5c5c5;
}

.profile-navigation__sign-out-button {
  display: flex;
  width: 40px;
  min-height: 45px;

  background-color: #ffffff;
}

.sign-out-button__icon {
  margin: auto;

  fill: #c5c5c5;
}

.profile-navigation__sign-out-button:hover .sign-out-button__icon {
  fill: #32425c;
}

.profile-navigation__sign-out-button:focus .sign-out-button__icon {
  fill: #32425c;
}

.profile-navigation__sign-out-button:active .sign-out-button__icon {
  fill: #c5c5c5;
}

.profile-navigation__link {
  margin-right: 14px;
  margin-left: 17px;

  font-size: 16px;
  line-height: normal;
  color: #32425c;
  text-decoration: underline;
}

.profile-navigation__link:hover,
.profile-navigation__link:focus {
  color: #ee3643;
}

.profile-navigation__link:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 60px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-nav__item {
  display: flex;
  flex-grow: 1;
}

.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #ffffff;
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #293449;
}

.main-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
}

.companies-list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

/* Main */

.page fieldset {
  border: none;
}

.filter__form legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.brands-list__item,
.supply-type li {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.product-list__item {
  border: solid 1px #e5e5e5;
}

.price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.price--old {
  color: #999999;
  text-decoration: line-through;
}

.price--new {
  color: #ffffff;

  background-color: #ee3643;
}

.bookmark {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.to-cart {
  color: #ffffff;

  background-color: #63a63e;
  border: none;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.filter__form .button-filter {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

/* Хлебные крошки */

.breadcrumbs {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

/* Футер */

.footer {
  display: flex;
  flex-direction: column;
  min-height: 300px;

  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.footer__wrapper--bottom {
  box-sizing: border-box;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 1px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  min-width: 284px;
  margin: 0;
  padding: 0;
}

.footer__feedback {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-right: 53px;
}

.footer__developed-by {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer__contacts {
  margin: 0;
  padding: 0;
  padding-left: 3px;

  list-style: none;
  font-style: normal;
  line-height: 24px;
}

.footer__bottom {
  padding-top: 35px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer__logo {
  width: 220px;
  height: 63px;
  margin-bottom: 32px;
}

.footer__address {
  margin: 0;
  padding: 0;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
}

.footer__nav-row {
  margin: 0;
  padding: 0;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
}

.footer__nav-item {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 60px;

  list-style: none;
}

.footer__nav-link {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
  text-decoration: underline;
}

.footer__nav-link:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer__nav-link--colored {
  color: #ffd180;
}

.footer__nav-link--colored:active {
  color: rgba(255, 209, 128, 0.5);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* box-sizing: border-box; */
  min-width: 132px;
  margin: 0;
  padding: 0;
  /* padding-right: 3px; */

  list-style: none;
}

.socials__item {
  margin: 0;
  margin-right: 3px;
  padding: 0;

  list-style: none;
}

.socials__link {
  display: inline-block;
  width: 42px;
  height: 42px;

  vertical-align: middle;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.socials__link--vk {
  background-image: url("/img/icon-vk.svg");
}

.socials__link--fb {
  background-image: url("/img/icon-fb.svg");
}

.socials__link--ig {
  background-image: url("/img/icon-inst.svg");
}

.socials__link:hover,
.socials__link:focus {
  background-color: #ee3643;
}

.feedback__link,
.feedback__copyright-link {
  color: #ffd180;
}

.feedback__link:hover,
.feedback__copyright-link:hover,
.feedback__link:focus,
.feedback__copyright-link:focus {
  text-decoration: underline;
}

.feedback__copyright-link:active,
.feedback__link:active {
  color: #ee3643;
  text-decoration: none;
}

/* Скрывает доступно */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/*  Временно скрыто */

.modal-windows {
  display: none;
}
